* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
  color: #606060;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  margin: auto;
  width: 50%;
  min-width: 370px;
  max-width: 450px;
}

h3 {
  text-align: center;
  padding: 10px 0;
}

.switch_cont {
  align-items: center;
  justify-content: center;
}

.switch_cont > p {
  padding: 5px;
}

.mode_input {
    display: grid;
    padding: 5px;
    padding: 5px 5px 25px;
}

.mode_input > p {
  padding: 5px 0;
}

.mode_input > input {
  height: 34px;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
}

.switch_cont {
    display: flex;
    padding: 5px;
}

.save_but {
  text-align: center;
}

.save {
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: #707070;
  color: #ffffff;
  font-size: 1em;
  transition: 0.1s;
}

.save:active {
  background-color: #404040;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 7%;
  }

.footer_but {
  border: none;
  width: calc(50% - 1px);
  background-color: #707070;
  color: #ffffff;
  font-size: 1em;
  transition: 0.1s;
  text-align: center;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer_but:active {
  background-color: #404040;
}